<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>

            <payumea_creditcard>
                <model>PayU\EasyPlus\Model\CreditCard</model>
                <active>0</active>
                <title>Credit Card</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>CREDITCARD</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_creditcard>

            <payumea_payflex>
                <model>PayU\EasyPlus\Model\Payflex</model>
                <active>0</active>
                <title>Payflex</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>PAYFLEX</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_payflex>


            <payumea_ebucks>
                <model>PayU\EasyPlus\Model\Ebucks</model>
                <active>0</active>
                <title>eBucks</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>EBUCKS</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_ebucks>
            <payumea_eftpro>
                <model>PayU\EasyPlus\Model\EFTPro</model>
                <active>0</active>
                <title>EFT Pro</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>EFT_PRO</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_eftpro>
            <payumea_discoverymiles>
                <model>PayU\EasyPlus\Model\DiscoveryMiles</model>
                <active>0</active>
                <title>Discovery Miles</title>
                <environment>0</environment>
                <api_username>Staging Integration Store 3</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>DISCOVERYMILES</payment_methods>
                <redirect_channel>web</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_discoverymiles>
            <payumea_mobicred>
                <model>PayU\EasyPlus\Model\Mobicred</model>
                <active>0</active>
                <title>Mobicred</title>
                <environment>0</environment>
                <api_username>Staging Integration Store 3</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>MOBICRED</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_mobicred>
            <payumea_ucount>
                <model>PayU\EasyPlus\Model\Ucount</model>
                <active>0</active>
                <title>Ucount</title>
                <environment>0</environment>
                <api_username>Staging Integration Store 3</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>UCOUNT</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_ucount>

            <payumea_rcs>
                <model>PayU\EasyPlus\Model\Rcs</model>
                <active>0</active>
                <title>Rcs</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>RCS</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_rcs>

            <payumea_rcs_plc>
                <model>PayU\EasyPlus\Model\RcsPlc</model>
                <active>0</active>
                <title>Rcs Plc</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>Rcs_Plc</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_rcs_plc>

            <payumea_fasta>
                <model>PayU\EasyPlus\Model\Fasta</model>
                <active>0</active>
                <title>FASTA Instant Credit</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>FASTA</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>500</min_order_total>
                <max_order_total>200000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_fasta>

            <payumea_mpesa>
                <model>PayU\EasyPlus\Model\Mpesa</model>
                <active>0</active>
                <title>MPESA</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>MPESA</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_mpesa>

            <payumea_airtel_money>
                <model>PayU\EasyPlus\Model\AirtelMoney</model>
                <active>0</active>
                <title>Airtel Money</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>AIRTEL_MONEY</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_airtel_money>

            <payumea_mobile_banking>
                <model>PayU\EasyPlus\Model\MobileBanking</model>
                <active>0</active>
                <title>Mobile Banking</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>MOBILE_BANKING</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_mobile_banking>

            <payumea_mtn_mobile>
                <model>PayU\EasyPlus\Model\MtnMobile</model>
                <active>0</active>
                <title>MTN MOBILE</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>MTN_MOBILE</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_mtn_mobile>

            <payumea_tigopesa>
                <model>PayU\EasyPlus\Model\Tigopesa</model>
                <active>0</active>
                <title>Tigopesa</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>TIGOPESA</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_tigopesa>

            <payumea_equitel>
                <model>PayU\EasyPlus\Model\Equitel</model>
                <active>0</active>
                <title>Equitel</title>
                <environment>0</environment>
                <api_username>200021</api_username>
                <api_password>0:3:TZxJKEJvAzU2yTIhtN7JpDyOHUzynWnE9B3ERBWC8omwKKOV</api_password>
                <safe_key>0:3:wtdnCWgWwZxfM3HAigXLCWcYJK76n/rlVIzloa1ZsubzBXfIRHNF8s6Hv2VBiLZPW+9ZFcxDlw0tnoqGYQSjCuUe</safe_key>
                <payment_methods>EQUITEL</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_equitel>
        </payment>
    </default>
</config>
