<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <payumea_creditcard>
                <model>PayU\EasyPlus\Model\CreditCard</model>
                <active>0</active>
                <title>Credit Card</title>
                <environment>0</environment>
                <api_username>100032</api_username>
                <api_password>PypWWegU</api_password>
                <safe_key>{CE62CE80-0EFD-4035-87C1-8824C5C46E7F}</safe_key>
                <payment_methods>CREDITCARD</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_creditcard>
            <payumea_ebucks>
                <model>PayU\EasyPlus\Model\Ebucks</model>
                <active>0</active>
                <title>eBucks</title>
                <environment>0</environment>
                <api_username>100032</api_username>
                <api_password>PypWWegU</api_password>
                <safe_key>{CE62CE80-0EFD-4035-87C1-8824C5C46E7F}</safe_key>
                <payment_methods>EBUCKS</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_ebucks>
            <payumea_eftpro>
                <model>PayU\EasyPlus\Model\EFTPro</model>
                <active>0</active>
                <title>EFT Pro</title>
                <environment>0</environment>
                <api_username>100032</api_username>
                <api_password>PypWWegU</api_password>
                <safe_key>{CE62CE80-0EFD-4035-87C1-8824C5C46E7F}</safe_key>
                <payment_methods>EFT_PRO</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_eftpro>
            <payumea_discoverymiles>
                <model>PayU\EasyPlus\Model\DiscoveryMiles</model>
                <active>0</active>
                <title>Discovery Miles</title>
                <environment>0</environment>
                <api_username>Staging Integration Store 3</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>DISCOVERYMILES</payment_methods>
                <redirect_channel>web</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_discoverymiles>
            <payumea_mobicred>
                <model>PayU\EasyPlus\Model\Mobicred</model>
                <active>0</active>
                <title>Mobicred</title>
                <environment>0</environment>
                <api_username>Staging Integration Store 3</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>MOBICRED</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_mobicred>
            <payumea_ucount>
                <model>PayU\EasyPlus\Model\Ucount</model>
                <active>0</active>
                <title>Ucount</title>
                <environment>0</environment>
                <api_username>Staging Integration Store 3</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>UCOUNT</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_ucount>

            <payumea_rcs>
                <model>PayU\EasyPlus\Model\Rcs</model>
                <active>0</active>
                <title>Rcs</title>
                <environment>0</environment>
                <api_username>100032</api_username>
                <api_password>PypWWegU</api_password>
                <safe_key>{CE62CE80-0EFD-4035-87C1-8824C5C46E7F}</safe_key>
                <payment_methods>RCS</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_rcs>

            <payumea_rcs_plc>
                <model>PayU\EasyPlus\Model\RcsPlc</model>
                <active>0</active>
                <title>Rcs Plc</title>
                <environment>0</environment>
                <api_username>100032</api_username>
                <api_password>PypWWegU</api_password>
                <safe_key>{CE62CE80-0EFD-4035-87C1-8824C5C46E7F}</safe_key>
                <payment_methods>Rcs_Plc</payment_methods>
                <redirect_channel>responsive</redirect_channel>
                <min_order_total>1</min_order_total>
                <max_order_total>5000000</max_order_total>
                <developer>
                    <active>0</active>
                </developer>
                <payment_url>
                    <notification_url>payu_easyplus/payment/notify</notification_url>
                    <return_url>payu_easyplus/payment/response</return_url>
                    <cancel_url>payu_easyplus/payment/cancel</cancel_url>
                </payment_url>
            </payumea_rcs_plc>
        </payment>
    </default>
</config>
